/*Haut de page*/

header {
  font-size: 1.5rem;
  padding: 2rem;
  background-color: #333;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  color: rgb(227, 175, 161);
  text-shadow: 2px 2px 5px black;
  box-sizing: border-box;
  animation: rightToLeftAnimation 1.4s ease-in forwards;
  
}
body {
  max-width: 1080px;
  margin: 0 auto;
  font-family: sans-serif;
  background-color: rgb(92, 78, 78);
  text-align: center;
  position: relative;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  background-color: rgb(92, 78, 78);
}

#frButton{
  width: 80px;
  height: auto;
  padding: 8px;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  background-color:#333;
  color: rgb(227, 175, 161);
  font-size: medium;
  animation: rightToLeftAnimation 1.4s ease-in forwards;
}

#frButton:hover{
  box-shadow: 4px 4px 4px black;
  cursor: pointer;
}

#enButton:hover{
  box-shadow: 4px 4px 4px black;
  cursor: pointer;
}

#enButton{
  width: 80px;
  height: auto;
  padding: 8px;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  background-color:#333;
  color: rgb(227, 175, 161);
  font-size: medium;
  animation: leftToRightAnimation 1.4s ease-in forwards;
}

/* Milieu de page */

.gameZone{
  position: relative;
  width: 100%;
  max-width: 1080px;
  aspect-ratio: 16/9;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
  border: 3px solid #666;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.6);
  animation: gameZoneAnimation 4s ease-in;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover; 
  user-select: none;
  pointer-events: none;
}

.zoneStart{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3%;
  width: 100%;
  max-width: 1080px;
}

#startGame{
  color: rgb(150, 148, 148);
  font-size: clamp(0.5rem, 1.8vw, 2rem);;
  border: 1px solid #999;
  padding: 1%;
  box-shadow: 0px 0px 30px #414141;
}

#startGame{
  animation: pulseStart 4s ease-in-out infinite;
}
#startGame:hover{
  cursor: pointer;
}

#restartGame{
  color: rgb(150, 148, 148);
  font-size: clamp(0.5rem, 1.8vw, 2rem);;
  border: 1px solid #999;
  padding: 1%;
  box-shadow: 0px 0px 30px #414141;
  opacity: 0.6;
  cursor: pointer;
}

#restartGame:hover{
  color: rgb(227, 175, 161);  
  box-shadow: 0px 0px 10px rgb(227, 175, 161);
}
#restartGame:active{
  box-shadow: 0 0 10px white;
  opacity: 0.8;
}

/* Positionnement du pendu*/
.hanged img {
  position: absolute;
  user-select: none; 
}

.hanged {
  position: absolute;
  width: 40%;
  height: 60%;
  top: 30%;
  left: 10%;
}

.hanger{
  width: 70%;
  height: auto;
  top: 11%;
  left: 35%;
  filter: drop-shadow(0 0 45px white);
}
.rope{
  width: 10%;
  height: auto;
  top: 21.5%;
  left: 61%;
}

.barrel{
  width: 20%;
  top: 58%;
  left: 54%;
}
.headHanged {
  width: 7%;
  top: 27%;
  left: 63.7%;
}

.bodyHanged {
  width: 32%;
  top: 28%;
  left: 51%;
}

.rightHandHanged {
  width: 18%;
  top: 28%;
  left: 58%;
}

.leftHandHanged {
  width: 18%;
  top: 27.5%;
  left: 56%;
}

.rightLegHanged {
 width: 30%;
 top: 37%;
 left: 50.5%;
}

.leftLegHanged {
  width: 30%;
 top: 37%;
 left: 49%;
}

/* Positionnement des parties du héros, couteau*/

.hero{
  position: absolute;
  width: 30%;
  height: 40%;
  top: 50%;
  left: 53%;
}
.hero img{
  position: absolute;
  user-select: none;
  filter: drop-shadow(0 0 18px white);
}

.headHero{
  width: 30%;
  top: 35%;
  right: 52%;
}

.bodyHero{
  width: 45%;
  top: 35%;
  right: 46%;
}

.leftHandHero{
  width: 20%;
  top: 50%;
  right: 63.5%;
}

.rightHandHero{
  width: 14%;
  top: 48%;
  right: 54%;
}
.rightLegHero{
  width: 23%;
  top:68.5%;
  right: 47.5%;
}

.leftLegHero{
  width: 13%;
  top: 67%;
  right: 63%;
}

.knife{
  position: absolute;
  width: 3%;
  top: 68.5%;
  left: 64.5%;
  z-index: 10;
  filter: drop-shadow(0 0 2px rgb(227, 175, 161));
  
}

/* bas de page */

.zoneText{
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem;
  height: auto;
  background-color: rgb(92, 78, 78);
}

#boxText:focus{
  outline: none;
  box-shadow: 0px 0px 5px black;
  border: 2px solid rgba(245, 193, 179, 0.4);
}

#hideWord{
  font-size: 30px;
  font-weight: bold;
  color: rgb(227, 175, 161);
  text-shadow: 1px 2px 5px black;
  animation: zoneTextAnimation 1.4s ease-in
}

#guessWord{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#boxText{
  border-radius: 6px;
  width: 300px;
  height: 30px;
  text-align: center;
  background-color: #333;
  color: white;
  font-size: large;
  box-shadow: 5px 5px 2px black;
  border: 2px solid #333;
  animation: zoneTextAnimation 1.4s ease-in
}

#boxText::placeholder{
  font-size: 1rem;
  font-size: large;
  color: rgb(227, 175, 161);
}

#boxLetter{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  animation: zoneTextAnimation 1.4s ease-in
}

.submitButton{
  border-radius: 6px;
  width: 100px;
  height: 35px;
  padding: 5px;
  margin: auto;
  font-size: larger;
  text-align: center;
  background-color: #333;
  color: rgb(227, 175, 161);
  box-shadow: 2px 2px 2px black;
  animation: zoneTextAnimation 1.4s ease-in
}

.submitButton:hover{
  box-shadow: 4px 4px 4px black;
}

.letterBtn{
  width: 15%;
  height: auto;
  padding: 7px;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  background-color:#333;
  color: white;
  font-size: large;
  animation: zoneTextAnimation 1.4s ease-in
}

.letterBtn:hover{
  box-shadow: 4px 4px 4px black;
  cursor: pointer;
}

.letterBtn.usedLetter {
  background-color:rgb(92, 78, 78);
  opacity: 0.6;
  border: 1px solid #000000;
  transform: scale(0.95);
  box-shadow: 1px 1px 5px black;
  
}

#winLose{
  font-size: clamp(1rem, 2vw, 2rem);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-shadow: 2px 2px 2px black;
  color: rgb(227, 175, 161);
  animation: zoneTextAnimation 1.4s ease-in
}

/* Animation */

@keyframes rightToLeftAnimation{
  from{
    transform: translateY(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes leftToRightAnimation{
  from{
    transform: translateY(30px);
    transform: translateX(30px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pulseStart {
  0%{
    transform: scale(1);
    opacity: 0.6;
  }
  50%{
    transform: scale(1.03);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

@keyframes zoneTextAnimation{
  from{
    transform: translateY(30px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes gameZoneAnimation {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

@keyframes throwHand {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: scaleX(-1) rotate(10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.throw-hand{
  animation: throwHand 0.5s ease-out forwards;
  transform-origin: left;
}

@keyframes knifeToRope {
  0% {
    top: 68.5%;
    left: 64.5%;
    transform: scaleX(-1) rotate(0deg);
    opacity: 1;
  }
  99%{
    opacity: 1;
  }
  100% {
    top: 42%;
    left: 36%;
    transform: scaleX(-1)  rotate(400deg);
    opacity: 0;
  }
}
@keyframes knifeToBarrel{
  0% {top: 68.5%;
    left: 64.5%;
    transform: scaleX(-1) rotate(0deg);
    opacity: 1;
  }
  99%{
    opacity: 1;
  }
  100% {
    top: 70%;
    left: 37%;
    transform: scaleX(-1)  rotate(420deg);
    opacity: 0;
  }
}
.throwToRope {
  animation: knifeToRope 1.4s linear forwards;
  transform-origin: center;
}
.throwToBarrel{
  animation: knifeToBarrel 1.3s linear forwards;
  transform-origin: center;
}

.breakedRope{
  animation: animatedBreakRope 1s ease-in forwards;
  transform-origin: top center;
}
@keyframes animatedBreakRope {
  0%{
    transform: rotate(0deg);
    top: 21.5%;
    opacity: 1;
  }60%{
    transform: rotate(20deg);
    top: 60%;
    opacity: 1;
  }100%{
    transform: rotate(40deg);
    top: 100%;
    opacity: 0;
  }
}



